html, body {
  overflow-x: hidden !important;
  height: 100%;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.clickable { 
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.default {
  cursor: default;
}

.no-flex {
  flex-grow: 0 !important;
}

.banner-logo {
  max-width: 125px;
  max-height: 40px;
}

.small-logo {
  max-width: 40px;
  max-height: 40px;
}

#small-logo-header {
  display: none !important;
}

#banner-logo-header {
  display: flex !important;
}

/* Change logo size based on screen size */
@media only screen and (max-device-width: 394px) {
  #small-logo-header {
    display: flex !important;
  }

  #banner-logo-header {
    display: none !important;
  }
}

.embolden {
  font-weight: bold;
  color: rgba(31, 133, 192, 1);
}

/* Welcome Page */

.logo-hero {
  width: 200px;
  height: 200px;
}

#header {
  padding: 5px 20px 0px 20px;
}

#profile-image {
  width: 40px;
  border-radius: 50%;
  border: 2px solid blue;
}

#background {
  background: linear-gradient(rgba(73, 74, 117, 0.5), rgba(0,0,0,1)),url("resources/background.jpg");
  background-position: center;
	background-repeat: no-repeat;
	position: relative;
  width: 100%;
  height: calc(100vh - 55px);
}

#background #slogan {
  font-size: 52px;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: default;
}

#background .opacity-layer {
  width: 100%;
}

#background .opacity-layer .row {
  padding: 5px 10px 5px 10px;
}

/* End Welcome Page */

#selection .opacity-layer {
  background: rgba(31, 133, 192, 0.8);
  border-radius: 15px;
  min-width: 350px;
  margin-bottom: 10px;
}

#selection .opacity-layer .row {
  padding: 5px 10px 5px 10px;
}

#selection {
  margin-top: 50px;
  /* height: calc(100vh - 55px); */
  color: white;
}

#loading {
  min-width: 250px;
}

#loading-img {
  width: 100px;
  height: 100px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.footer-logo {
  width: 55px;
  height: 55px;
}

.github {
  width: 40px;
  height: 40px;
}

#footer-name {
  font-size:  24px;
  font-family:'Courier New', Courier, monospace;
  margin: 5px 0px 0px 5px;
}

#footer-sitename {
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  margin: 10px 0px 0px 0px;
}

.loading-content {
  color: lightgrey;
}

/* Control Panel Border Styling src = https://stackoverflow.com/a/46304846 */
.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -50px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
  border: 1px solid black;
  border-radius: 15px;
}

.panel-body {
  padding: 30px 30px 30px 30px;
}
/* End Control Panel Border Styling */

.custom-panel {
  max-height: 600px;
  margin-bottom: 75px;
}

.custom-panel .contents {
  max-height: 575px;
  overflow-x: hidden;
  overflow-y: auto;
}

.mtg {
  height: 204px !important;
  width: 146px !important;
}

.mtg .delete {
  position: relative;
  top: -13em;
  left: 7em;
  width: 35px;
  height: 35px;
  visibility: hidden;
}

.mtg:hover .delete {
  visibility: visible;
}

.badMessage {
  color: red;
}

/* Create a deck table */

#displayCards {
  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}

#displayContainer {
  border: 1px solid lightgrey;
}

#displayContainer .row {
  padding: 5px 0px 5px 5px;
  border-bottom: 1px solid darkgrey;
}

#displayContainer .quantity, #displayContainer .name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#displayHeader .row, #displayCards .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* End create a deck table */
