html, body {
  overflow-x: hidden !important;
  height: 100%;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.clickable { 
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.banner-logo {
  max-width: 125px;
  max-height: 40px;
}

.banner-logo-hero {
  max-width: 400px;
  max-height: 100px;
}

#header {
  padding: 5px 20px 0px 20px;
}

#profile-image {
  width: 40px;
  border-radius: 50%;
  border: 2px solid blue;
}

#background {
  background: linear-gradient(rgba(73, 74, 117, 0.5), rgba(0,0,0,0.8)),url("resources/background.jpg");
  background-position: center;
	background-repeat: no-repeat;
	position: relative;
  width: 100%;
  height: calc(100vh - 55px);
}

#background span {
  font-size: 32px;
  color: white;
  /*TODO: Change font */
}

#background #opacity-layer {
  background: rgba(56, 71, 107, 0.5);
  border-radius: 15px;
}

#background #opacity-layer .row {
  padding: 5px 10px 5px 10px;
}

#selection {
  flex-grow: 0 !important;
}

#selection #opacity-layer {
  background: rgba(31, 133, 192, 0.8);
  border-radius: 15px;
  min-width: 350px;
}

#selection #opacity-layer .row {
  padding: 5px 10px 5px 10px;
}

.no-flex {
  flex-grow: 0 !important;
}

#selection {
  height: calc(100vh - 55px);
  color: white;
  font-size: 32px;
}