html, body {
  overflow-x: hidden !important;
  height: 100%;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

.clickable { 
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.banner-logo {
  max-width: 125px;
  max-height: 40px;
}

#header {
  padding: 5px 20px 0px 20px;
}

#profile-image {
  width: 40px;
  border-radius: 50%;
  border: 2px solid blue;
}